[Unit]
Description=boot splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/bin/mplayer -vo fbdev -fs /usr/share/zynthbox-bootsplash/zynthbox-bootsplash.mkv
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
